//Percent
@function toPercent($px, $from: 100) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}
//VW
@function toVW($px, $from: 100) {
    $result: math.div($px, $from) * 100vw;
    @return $result;
}
//REM
@function toRem($px, $current: 16) {
    $result: math.div($px, $current) + rem;
    @return $result;
}
//EM
@function toEm($px, $current: 16) {
    $result: math.div($px, $current) + em;
    @return $result;
}

@function adaptiveSize($minSize: 16, $maxSize, $minViewportWidth: 320, $maxViewportWidth: 1440) {
    $resultSize: calc(
        #{$minSize}px + ($maxSize - $minSize) *
            ((100vw - #{$minViewportWidth}px) / ($maxViewportWidth - $minViewportWidth))
    );
    @return $resultSize;
}
