.section-title {
    font-size: toRem(14);
    font-weight: 600;
    line-height: 1.14;
    text-transform: uppercase;
}
.greeting {
    background:
        linear-gradient(0deg, rgba(255, 179, 179, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
        url("../img/hero.jpg") lightgray 0 70% / cover no-repeat;
    // .greeting__container

    &__container {
        min-height: toRem(874);
        padding-block-start: toRem(120);
        padding-block-end: toRem(15);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        row-gap: toRem(29);
        @media (max-width: $tablet) {
            row-gap: toRem(52);
        }
    }

    // .greeting__content

    &__content {
        max-width: toRem(636);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(20);
        @media (max-width: $tablet) {
            row-gap: toRem(30);
        }
    }

    // .greeting__title

    &__title {
        font-family: "Playfair Display";
        font-style: italic;
        @include adaptiveValue("font-size", 106.17, 63.787);
        // font-size:   toRem(106.17);
        font-weight: 900;
        line-height: 1.2;

        letter-spacing: toRem(3.18);
        text-align: center;
        span:nth-child(1) {
            line-height: 1.05;
        }
        span:nth-child(2) {
            display: block;
            color: transparent;
            -webkit-text-stroke-width: toRem(1.4);
            -webkit-text-stroke-color: $textColorMain;
            @include adaptiveValue("font-size", 231.65, 139.171);
            // font-size: toRem(231.65);
            letter-spacing: toRem(6.949);
            line-height: 0.6;
        }

        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .greeting__text

    &__text {
        font-size: toRem(18);
        font-weight: 400;
        font-style: normal;
        text-align: center;
        line-height: 1.55; /* 28/18 */
        span {
            font-weight: 600;
            font-style: italic;
        }
    }

    // .greeting__link

    &__link {
        font-size: toRem(15);
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: toRem(0.3);
        text-transform: uppercase;
        color: #343434;
        padding: toRem(13) toRem(60);
        border-radius: toRem(3);
        background: $textColorMain;
        transition: all 0.3s ease-in-out;
        @media (any-hover) {
            &:hover {
                background-color: $hoverColor;
                color: $textColorMain;
            }
        }
    }

    // .greeting__decor

    &__decor {
        width: toRem(25);
        height: toRem(98);
        fill: $textColorMain;
    }
}
.about {
    // .about__container

    &__container {
        padding-block: toRem(90);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(42);
        @media (max-width: $tablet) {
            padding-block: toRem(48) toRem(52);
        }
    }
    // .about__title

    &__title {
        position: relative;
        @media (min-width: $laptop) {
            position: absolute;
            left: 0;
            top: calc(50%);
            transform: translateY(-50%);
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }

    // .about__text

    &__text {
        max-width: toRem(856);
        @include adaptiveValue("text-indent", 177, 80);
        font-weight: 300;
        @include adaptiveValue("font-size", 38, 28);
        line-height: 1.26;
        span {
            font-weight: 500;
            font-style: italic;
        }
    }
    &__ticker {
        width: 100%;
        min-height: toRem(229);
        display: flex;
        align-items: center;
        background: url("../img/ticker-bg.png") center/toRem(416) toRem(229) no-repeat;
        @media (max-width: $mobile) {
            height: toRem(194);
            background-size: toRem(352) toRem(194);
        }
    }
}
.ticker {
    // .ticker__text
    &__text {
        font-weight: 200;
        line-height: 1.2;
        @include adaptiveValue("font-size", 72, 50);
        text-wrap: nowrap;
        transform: translateX(100%);
        animation: textMove 40s linear infinite forwards;
        @keyframes textMove {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(-100%);
            }
        }
    }
}

.services {
    // .services__container

    &__container {
        padding-block: toRem(81) toRem(90);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        & > * {
            margin-bottom: toRem(32);
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }

    // .services__decor

    &__decor {
        width: toRem(107);
        height: toRem(28);
        flex-shrink: 0;
        fill: $textColorMain;
        margin-bottom: toRem(88);
        @media (max-width: $tablet) {
            margin-bottom: toRem(50);
        }
    }

    // .services__title

    &__title {
        @extend .about__title;
    }

    // .services__list

    &__list {
    }
}

.list-services {
    max-width: toRem(966);
    // .list-services__item

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: toRem(10) toRem(38);
        &:not(:last-child) {
            margin-bottom: toRem(38);
        }
        @media (max-width: $tablet) {
            flex-direction: column;
        }
        &::before {
            content: "";
            flex-shrink: 0;
            width: toRem(100);
            height: toRem(0.5);
            border-top: toRem(0.5) solid $textColorMain;
            order: 2;

            @media (min-width: $tablet) {
                margin-top: toRem(13);
            }
        }
    }

    // .list-services__service

    &__service {
        font-size: toRem(32);
        font-weight: 500;
        line-height: 1.5;
        font-style: italic;
        flex-shrink: 0;
        width: toRem(268);
        order: 1;
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $hoverColor;
            }
        }
    }

    // .list-services__description

    &__description {
        // flex-basis: toREm(415);
        line-height: 1.3;
        order: 3;
    }
}

.reservation {
    background: url("../img/reservation-bg.jpg") center/cover no-repeat;

    // .reservation__container

    &__container {
        padding-block: toRem(31);
        @include adaptiveValue("min-height", 820, 760);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        row-gap: toRem(28);
        @media (min-width: $laptop) {
            padding-block: toRem(56);
        }
    }

    // .reservation__decor

    &__decor {
        width: toRem(98);
        height: toRem(29);
        flex-shrink: 0;
        fill: $textColorMain;
        @media (min-width: $laptop) {
            margin-bottom: toRem(161);
        }
    }

    // .reservation__title

    &__title {
        @extend .about__title;
    }

    // .reservation__contacts

    &__contacts {
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include adaptiveValue("max-width", 714, 322);
    @include adaptiveValue("font-size", 23, 18);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;

    & > *:first-child {
        font-family: "Playfair Display", serif;
        font-style: italic;
        @include adaptiveValue("font-size", 48, 36);
        font-weight: 800;
        letter-spacing: toRem(0.96);
        .contacts__link {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    }

    & > *:not(:last-child) {
        margin-bottom: toRem(41);
        @media (max-width: $tablet) {
            margin-bottom: toRem(28);
        }
    }

    &__location {
        max-width: toRem(646);
        text-align: center;
    }

    // .contacts__link

    &__link {
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $hoverColor;
            }
        }
    }
}
